<mat-grid-list cols="4">
  <mat-grid-tile colspan="2" rowspan="2" style.background="red" *ngFor="let restaurant of restaurants">
    <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{restaurant.restaurantName}}</mat-card-title>
      <mat-card-subtitle>{{restaurant.restaurantName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/logo.png" alt="Photo of a This Restaurant">
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Like</button>
      <button mat-button [routerLink]="'/show-food'" >Order Food</button>
      <button mat-button *ngIf="isAdmin() && isLoggedIn()">Edit</button>
      <button mat-button *ngIf="isAdmin() && isLoggedIn()">Delete</button>
    </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
