<mat-toolbar color="accent" class="navbar">
  <div>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>room_service</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button><mat-icon >restaurant</mat-icon><strong> food-lee</strong></button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuTRF">
      {{username}}
      <mat-icon>account_circle</mat-icon>
    </button>
<!-- The template reference variable that is being used by two buttons above-->
    <mat-menu #menuTRF="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Previous Orders</button>
      <button mat-menu-item color="accent" aria-label="favourites">Wish List</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>

<!-- Mat Sidenav being operated from outside -->
<mat-sidenav-container>
  <mat-sidenav #sidenav class="bgimg">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/food'" (click)="sidenav.toggle()">
        <font color="white">Food</font>
      </a>
      <a mat-list-item [routerLink]="'/show-restaurant'" (click)="sidenav.toggle()">
        <font color="white">Restaurants</font>  
      </a>
      <a mat-list-item [routerLink]="'/orders'" (click)="sidenav.toggle()">
        <font color="white">Previous Orders</font>
      </a>
      <a mat-list-item [routerLink]="'/signin'" (click)="sidenav.toggle()">
        <font color="white">Log In</font>
      </a>
      <a mat-list-item [routerLink]="'/signup'" (click)="sidenav.toggle()">  
        <font color="white">Sign UP</font>
      </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>
          <font color="white">Close</font>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet class="ro-bg-img"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
