<mat-toolbar color="accent" class="navbar">
  <div>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>room_service</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuTRF"><img [attr.src]="image" /></button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuTRF">
      {{username}}
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menuTRF="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Previous Orders</button>
      <button mat-menu-item>Wish List</button>
    </mat-menu>
  </div>
</mat-toolbar>

<!-- Mat Sidenav being operated from outside -->
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/food'" (click)="sidenav.toggle()"> Food </a>
      <a mat-list-item [routerLink]="'/show-restaurant'" (click)="sidenav.toggle()"> Restaurants </a>
      <a mat-list-item [routerLink]="'/orders'" (click)="sidenav.toggle()"> Your Orders </a>
      <a mat-list-item [routerLink]="'/signin'" (click)="sidenav.toggle()"> Sign In </a>
      <a mat-list-item [routerLink]="'/signup'" (click)="sidenav.toggle()"> Sign Up </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>